<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<system.web>
		<httpRuntime enableVersionHeader="false" />
		<!-- Removes ASP.NET version header.  -->
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering removeServerHeader="true" />
			<!-- Removes Server header in IIS10 or later and also in Azure Web Apps -->
		</security>
		<httpProtocol>
			<customHeaders>
				<clear />
				<!-- Gets rid of the other unwanted headers -->
				<remove name="X-Powered-By" />
			</customHeaders>
			<redirectHeaders>
				<clear />
			</redirectHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>